@model UI.Models.Suggest.SingleModel
@{
    ViewData["Title"] = "建议";
}


<h1>
    @Model.Title
</h1>
<div style="border:dashed black">
    <p>
        @Model.Body
    </p>
<span>@Model.CurrentUsername</span>
</div>

